
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root {
   --font-monsterrat :  "Montserrat"; 
   --font-Fraunces:     "Fraunces";
   --very-dark-blue:    hsl(212, 21%, 14%);
   --dark-grayish:      hsl(228, 12%, 48%);
   --white:             hsl(0,0%,100%);
   --mobile-max-width:  20rem;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: green;
}

main {
    background-color: blue;
}




@media (max-width: 38rem){

    body{
        display: flex;          
        justify-content: center;   
        align-items: center;     
        height: 100vh;
    }

    main{
        align-self: center;
        width: 90vw;
    }

    article{
        background-color: orange;
        display: flex;
        flex-direction: column;
    }

    .hero-image{ 
        width: 100%;
        background-color: aqua;
    }

    .hero-image picture img {
        width: 100%; 
        height: auto;
        display: block;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }

    .product-description {
        background-color: red;
        display: grid;
        grid-template-columns: repeat(, 1fr); 
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        gap: 1rem;
    }

    .product-description .product-type{
        letter-spacing: .4em;
    }

    .product-description .product-type,
    .product-description .product-overview{
       font-family: var(--font-monsterrat);
       color:  var(--dark-grayish);
       font-weight: 500;
       font-size: .9rem; 
       grid-column: span 2;
    }

    .product-description .product-name {
        font-family: var(--font-Fraunces);
        font-size: 1.6rem;
        grid-column: span 2;
    }

    .product-description .product-discounted-price{
        font-size: 1.6rem;
        font-family: var(--font-Fraunces);
        background-color: grey;
    }

    .product-description .product-true-price{
        text-align: left;
        background-color: green;
    }

    .product-description .product-discounted-price,
    .product-description .product-true-price {
        grid-column: span 1; 
    } 
    

    .product-description .button-container{
        grid-column: span 2;
    }

}